@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin: 0;
}
body {
  background-color: #F8F5EF;
}
.mainContainer {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #F8F5EF;
    /* border-right: 1.5px solid rgb(134 124 124); */
    position: absolute;
}
.navigationBar {
    width: 100%;
    max-width: 20%;
    position: fixed;
    background-color: #fff;
    border-right: 1.5px solid rgb(134 124 124);
}
.heroSection {
  width: 100%;
  max-width: 80%;
  margin-left: 17rem;
}
.logoDiv {
    display: flex;
    margin-left: 1rem;
    gap: 0rem;
    font-size: 0.6em;
    align-items: center;
}
ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: .8rem;
}
.navigationLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
}
.lastImg {
    position: relative;
}
.sleeve {
    /* background-color: #EDA246; */
    /* opacity: 50%; */
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    top: 31rem;
    left: 4.5rem;
    z-index: 2;
    /* background: transparent; */
}
span {
    margin-left: 1.4rem; 
}
.logoutSvg {
    position: absolute;
    top: 35.5rem;
    left: 6.8rem;
    z-index: 2;
}
/* Right section  */

/* table styles */
.table-container {
    margin: 3rem auto;
  }
  
  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    max-width: 90%;
    margin-left: 3rem;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #F8F5EF;
  }
  
  tbody tr:nth-child(even) td {
    background-color: #F8F5EF;
  }
  
  tbody tr:nth-child(odd) td {
    background-color: #FFFFFF;
  }